
.character-hud.hero {
  left: 20px;
}

.portrait.hero { width: 80px; height: 80px; }

.bars-title.hero
{
  /*align-self:flex-end;*/
}
.hero-lives {
  color: #fff;
  font-family: 'Verdana', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-style: italic;
  text-shadow: 0px 0px 6px #000;
  font-size: 2.1rem;
}