* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hud-layer {
  position: absolute;
  padding-top: 25px;
  display: flex;
  pointer-events: none; /* Deja que los clics pasen al juego si no hay botones */
  width: 100%;
  height: 100vh;
}

.character-hud
{
  position:absolute
}

.unit-display {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.portrait {
  border: 3px solid #ffd700;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 0px #800000;
}

.bars-container {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
}

.bars-title {
  color: #fff;
  font-family: 'Verdana', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-style: italic;
  text-shadow: 0px 0px 6px #000;
  font-size: 1.1rem;
}

@keyframes slideIn {
  from { opacity: 0; transform: translateX(-20px); }
  to { opacity: 1; transform: translateX(0); }
}

@keyframes arcadeBlink {
  50% { opacity: 0; }
}

.arrow img {
  width: 100px;
  height: 100px;
  animation: arcadeBlink 0.5s step-start infinite;
}

.arrow.right img {
  transform: scaleX(-1); /* Voltea la flecha horizontalmente */
}

.arrow.left {
  position: absolute;
  top:120px;
  left: 20px;
}

.arrow.right {
  position: absolute;
  top:120px;
  right:20px;
}